picture
  source(data-srcset=`/public/${directory_name}/Group${val}@2x.png 2x, /public/${directory_name}/Group${val}.png 1x`)
  img.lazy.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay=`${delay}s` data-src=`/public/${directory_name}/Group${val}.png` alt=`Group${val}`)
